 <ul class="dropdown-menu text-small shadow show"
    [style.top]="theTop"
    [style.left]="theLeft"
    style="position: absolute; margin: 0px; transform: translate3d(0px, -33.6364px, 0px);"
 >
        <li><a (click)="openDialogCreateNewJob($event)" class="dropdown-item" href="#">Ajouter un Job</a></li>
        <li><a (click)="openDialogCreateNewJob($event)" class="dropdown-item" href="#">Ajouter un Talent</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Paramètres</a></li>
</ul>
