input {
    border-radius: 30px;
    border: 1px solid #deede6;
    padding: 3px 10px;
    background: white;
    transition-duration: .2s;
    margin-bottom: 20px;
}

input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}