ul li a.nav-link {
  display: flex;
  align-items: center;
  color: #a4acb3 !important;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
}

ul li a.active {
  background-color: rgb(44 59 249);
  color: aliceblue !important;
}