<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
  style="width: 120px; height:100vh;background-color: #34394b !important;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span style="color: #d1d1d1; font-size: 1.02rem !important;" class="fs-4 ">JobManagR</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link" aria-current="page">
        <i class="bi bi-house"></i>
        Home
      </a>
    </li>
    <li>
      <a routerLink="jobs" href="#" routerLinkActive="active" class="nav-link link-body-emphasis">
        <i class="bi bi-fire"></i>
        Missions
      </a>
    </li>
    <li>
      <a routerLink="talents" routerLinkActive="active" class="nav-link link-body-emphasis">
        <i class="bi bi-person-workspace"></i>
        Talents
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <i class="bi bi-folder2"></i>
        Contrats
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <i class="bi bi-receipt"></i>
        Factures
      </a>
    </li>
  </ul>
  <hr>


  <div class="dropdown">
    <a href="#"
      class="d-flex flex-column align-items-center link-body-emphasis text-decoration-none dropdown-toggle text-light"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img style="width: 60px; height: 60px;"
        src="https://media.licdn.com/dms/image/D4E03AQE0b1Bby_uWvA/profile-displayphoto-shrink_800_800/0/1704468513751?e=1710374400&v=beta&t=hOOGBdi1PLlftqJ5XJf6Nmo-dZqFLb3AaOXNgkdNkfA"
        alt="" width="32" height="32" class="rounded-circle">
      <span style="color:#d9d6d6">Frederic</span>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">Nouveau projet...</a></li>
      <li><a class="dropdown-item" href="#">Paramètres</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Déconnexion</a></li>
    </ul>
  </div>


</div>