<div (click)="hideContextMenu()" (contextmenu)="onRightClick($event)" class="interface">

  <!-- NAV -->
  <app-nav></app-nav>

  <!-- CONTENT-->
  <div class="content" role="main">
    <!-- <h1 style="color:#999999">Commencez à trouver des profils 👽</h1> -->

    <!-- <div class="d-flex" style="padding-top: 20px; padding-bottom:50px">
      <app-jobs-list style="width:100%; margin-right:50px"></app-jobs-list>
      <app-talents-list style="min-width:350px; max-width:500px"></app-talents-list>
    </div> -->
    <router-outlet></router-outlet>
  </div>


</div>
<app-contextmenu *ngIf="contextMenuIsOpened" (contextMenuIsOpenedEvent)="openOrCloseContextMenu($event)" [top]="top"
  [left]="left"></app-contextmenu>