<h2 mat-dialog-title>Ajouter un Talent tech / Formateur.trice</h2>
<form (submit)="submitTalentForm()" [formGroup]="talentForm">
    <mat-dialog-content>

        <div class="row">

            <div class="mb-3 col-6 form-floating">
                <input formControlName="last" type="text" class="form-control">
                <label>Nom</label>
            </div>

            <div class="mb-3 col-6 form-floating">
                <input formControlName="first" type="text" class="form-control">
                <label>Prénom</label>
            </div>

            <div class="mb-3 col-6 form-floating">
                <input formControlName="xp" type="text" class="form-control">
                <label>Années d'expérience</label>
            </div>

            <div class="mb-3 col-6 form-floating">
                <input formControlName="tjm" type="text" class="form-control">
                <label>TJM</label>
            </div>

            <div class="mb-3 col-6 form-floating">
                <input formControlName="siret" type="text" class="form-control">
                <label>Siret</label>
            </div>

            <div class="mb-3 col-6 form-floating">
                <input formControlName="nda" type="text" class="form-control">
                <label>NDA</label>
            </div>
        </div>

        <div class="address">
            <fieldset>
                <legend>Adresse</legend>
                <div class="row">
                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="address" type="text" class="form-control">
                        <label>Adresse</label>
                    </div>

                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="complementaddress" type="text" class="form-control">
                        <label>Complément d'adresse</label>
                    </div>

                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="cp" type="text" class="form-control">
                        <label>Code postal</label>
                    </div>

                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="city" type="text" class="form-control">
                        <label>Ville</label>
                    </div>

                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="country" type="text" class="form-control">
                        <label>Pays</label>
                    </div>

                </div>
            </fieldset>
        </div>

        <!-- INFOS CONTACT-->
        <div class="address">
            <fieldset>
                <legend>Infos contact</legend>
                <div class="row">

                    <div class="input-group mb-3 col-6 form-floating">
                        <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                        <app-input-form-tel (countrySelectedEvent)="selectCountryCode($event)"></app-input-form-tel>
                        <input formControlName="indicatifphone" type="hidden" class="form-control">
                        <div class="form-floating">
                            <input style="padding-top: 0.625rem;" formControlName="phone" type="text"
                                class="form-control">
                            <label
                                style="transform:scale(0.85) translateY(-1.7rem) translateX(1.5rem)">Telephone</label>
                        </div>
                    </div>



                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="email" type="text" class="form-control">
                        <label>Email</label>
                    </div>

                    <div class="mb-3 col-6 form-floating">
                        <input formControlName="linkedin" type="text" class="form-control">
                        <label>Linkedin</label>
                    </div>

                    <div class="mb-3 col-6">
                        <input formControlName="remote" class="form-check-input me-2" type="checkbox" value="0"
                            id="remote">
                        <label class="form-check-label" for="remote">Remote</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
        <button type="submit" mat-button color="primary" cdkFocusInitial>Sauvegarder</button>
    </mat-dialog-actions>
</form>